@charset "utf-8";
/* CSS Document */

.menu1{
	background-color:grey;
	height:100px;
	width=300px;
}
.menu2{
	background-color:yellow;
	height:100px;
}
.menu3{
	background-color:grey;
	height:100px;
}
.menu4{
	background-color:yellow;
	height:100px;
}
.menu5{
	background-color:grey;
	height:100px;
}
.menu6{
	background-color:yellow;
	height:100px;
}

