#heading{
	/*background-color:white;*/
	font-family: 'Permanent Marker', cursive;
	color:black;
}

#toDoList{
	list-style:none;
	padding:0;
	margin:0;
}
li{
	border: 1px solid #ccc;
	background: #ccc;
	padding: 5px 10px;
	color: #000;
}

li span{
	padding-left:10px;
	cursor: default;
}

.checked{
	text-decoration:line-through;
	/*font-weight:0d;*/
	color: #c00;
}
.container {
  width: 300px;
  padding: 50px;
  border: 1px solid grey;
  margin: 0 auto;
  margin-top: 100px;
  font-family: 'Chewy', cursive;
  border-radius: 5px;
  background-color: #cfd8dc/*#265a88*/;
  position: relative; }